{$SITE_ADDRESS}

encode zstd gzip

@static {
	path /dist/* /fonts/* /robots.txt /favicon.png
}
@frontend {
	not path /dist/* /fonts/* /robots.txt /favicon.png /api/*
}

route @static {
	header {
		Cache-Control "max-age=31536000"
	}
	file_server {
		root /srv
	}
}

route @frontend {
	header {
		Cache-Control "no-store"
	}
	reverse_proxy /* http://frontend:3000
}

route /api/* {
	header {
		Cache-Control "no-store"
	}
	reverse_proxy http://backend:7878
}

tls {
	protocols tls1.2 tls1.3
	ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
}

header / Strict-Transport-Security "max-age=63072000"
