{$SITE_ADDRESS}

encode zstd gzip

@static {
	path /dist/* /fonts/* /robots.txt /favicon.png
}
@not_static {
	not path /dist/* /fonts/* /robots.txt /favicon.png
}

route @static {
	header {
		Cache-Control "max-age=31536000"
	}
	file_server {
		root /srv
	}
}

route @not_static {
	header {
		Cache-Control "no-store"
	}
	reverse_proxy /api/* http://backend:7878
	reverse_proxy /* http://frontend:3000
}

tls {
	protocols tls1.3
}

header / Strict-Transport-Security "max-age=63072000"
