@import '../node_modules/@ibm/plex/css/ibm-plex.min.css';
@import '../node_modules/@ibm/plex/css/ibm-plex-sans-kr.min.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans KR';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
