.container {
  background-color: #F8F8F8;
  min-height: 100vh;
  width: 100vw;
}

.header {
  padding: 10px;
  background: linear-gradient(272deg, #61CDB7 0%, #24B799 100%);
  font-size: 30px;
  color: white;
}